<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/c3/0.3.0/c3.min.css"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

    <style>
    #map{
      width:100%;
      height:400px;
    }
    </style>
  </head>
  <body>

    <div id="chart"></div>
    <div id="map"></div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/c3/0.3.0/c3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <script>
    var map;

    $(document).on('ready', function(){
      map = L.map('map').setView([0, 0], 1);
      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);
      loaddata();
    });

    function loaddata(){

      $.get('/api/v1/timeseriesdata/log/?format=json', function(data){

        var x = ['x']
        var y = ['data']

     
        for (var i in data.objects){
          var dobj = data.objects[i];
          var m = moment( dobj.ts);
          x.push( m.milliseconds() + m.unix() );
          y.push( dobj.data );
          L.marker(dobj.location).addTo(map);
        }


        var chart = c3.generate({
          data: {
            x: 'x',
            columns: [ x, y ]
          },
          bindto: "#chart"
        });
      });
    }
    </script>


  </body>

</html>
